body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #6190f6;
    color: white;
    text-align: center;
    padding: 0rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
header img {
    height: 60px;
}

nav {
    background-color: #444;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, background-color 0.3s;
}
nav a:hover {
    background-color: #666;
    transform: scale(1.05);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 5px solid #6190f6
}

h2 {
    margin-bottom: 2rem;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.events-grid {
    display: grid;
    grid-template-columns:1fr;
    gap: 20px;
}

.event-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.event-card h3 {
    color: #004080;
    margin-bottom: 10px;
}

.event-card p {
    margin-bottom: 8px;
}

.event-card a {
    color: #0066cc;
    text-decoration: none;
} 

.event-card a:hover {
    text-decoration: underline;
}

footer {
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    font-size: 0.9rem;
  }