body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #444;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: max-height 0.3s ease-in-out;
}
nav a {
    color: white;
    text-decoration: solid;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}
nav a:hover {
    background-color: #666;
    transform: scale(1.1);
}

header {
    background-color: rgb(97, 144, 246);
    color: white;
    text-align: center;
    padding: 1rem 0rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    animation: fadeIn 1.5s ease-in-out forwards;
}

header img {
    height: 120px;
}

.container {
    padding: 20px;
}

.event {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px 20px;
}

.event {
    border-left: 5px solid #3498db;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.event:hover {
    transform: scale(1.02);
}

.event h2 {
    margin-top: 0;
    color: #2c3e50;
}

.event p {
    margin: 5px 0;
    color: #555;
}
.search-bar-container input {
    width: 80%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin: 20px auto;
    display: block;
}


